/** package individual scss files **/
/** Variables **/
/** Theme colours **/
@import url(//fonts.googleapis.com/css?family=Open+Sans);
html, body {
  height: 100%;
  width: 100%;
  background: #ffffff;
  color: #8c8c8c;
  font-size: 18px;
  font-family: "Open Sans", Helvetica, sans-serif; }

a {
  text-decoration: none !important; }

a:hover, a:focus {
  color: #008fd6; }

b {
  color: #006da3; }

#wrapper {
  min-height: 100%; }

ul {
  margin: 0 auto;
  padding: 10px 0;
  list-style: none; }
  ul.dev-skills {
    text-align: center;
    width: 49%;
    padding-top: 40px; }
  ul.experiences li {
    padding-left: 14px;
    text-indent: -14px;
    margin: 0 0 15px 0; }
  ul.experiences li:before {
    content: ">";
    color: #006da3; }
  ul.contact-details li {
    padding: 0 0 10px; }

.tag {
  background: #006da3;
  color: #ffffff; }
  .tag.skills {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 5px;
    line-height: 100px; }
  .tag.tech-usage {
    margin: 0 0 10px 0px;
    padding: 4px 6px;
    border-radius: 5px;
    line-height: 40px; }
  .tag.freelance-rates {
    color: #92B558;
    background: #405024; }
  .tag.spend-trends {
    color: #00334d;
    background: #f2f2f2; }
  .tag.task-manager {
    color: #001a1a;
    background: #00a4a4; }

.used-tech {
  margin: 5px 0; }

#nav {
  margin-bottom: 10px; }

.simple-nav {
  width: 100%;
  margin: 10px auto;
  color: #8c8c8c;
  font-size: 18px;
  text-align: center; }
  .simple-nav .nav-list li {
    display: inline-block;
    margin: 5px;
    padding-bottom: 3px;
    font-size: 18px; }
  .simple-nav .nav-list li.active > a {
    border-bottom: 3px solid #006da3 !important;
    color: #8c8c8c !important; }
  .simple-nav .nav-list li > a {
    padding: 6px 12px;
    color: #8c8c8c; }
  .simple-nav .nav-list li > a:hover, .simple-nav .nav-list li > a:focus {
    border-bottom: 3px solid #a6a6a6;
    color: #a6a6a6; }

.section-container {
  width: 100%;
  padding: 50px 0px; }

.title {
  text-align: center; }

.page-height {
  min-height: 90vh; }

.section-content {
  width: 50%;
  margin: 30px auto; }

.footer {
  background: #004466;
  color: #ffffff;
  padding: 40px 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  text-align: center;
  line-height: 15px; }
  .footer .social-networks {
    font-size: 36px;
    padding: 10px; }
  .footer a:hover, .footer a:focus {
    color: #008fd6; }
  .footer .icons {
    padding: 5px 10px;
    color: #006da3; }
    .footer .icons.contact {
      font-size: 18px; }
  .footer b {
    color: #006da3; }

.intro {
  text-align: center;
  color: #f2f2f2;
  padding: 170px 0;
  font-size: 18px; }
  .intro .name {
    font-size: 48px; }

.banner-image {
  background: url(../img/bannerImg-desktop-min.jpg) no-repeat center #006da3;
  max-width: 100%;
  max-height: 100%;
  background-size: cover; }

.contact-link-container {
  margin: 50px auto; }
  .contact-link-container .contact-link {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #006da3;
    padding: 15px 50px;
    border-radius: 30px;
    background: #f2f2f2; }
  .contact-link-container .contact-link:hover, .contact-link-container .contact-link:focus {
    color: #f2f2f2;
    background: #006da3; }

.resume {
  background: #f2f2f2; }

.education {
  background: #f2f2f2; }

.portfolio {
  background: #f2f2f2; }

.portfolio-content {
  width: 100%;
  margin: 30px auto;
  font-size: 14px;
  text-align: center; }

.project-panel {
  position: relative;
  display: inline-table;
  max-width: 300px;
  height: 200px;
  margin: 5px;
  padding: 0 20px 40px;
  text-align: left; }
  .project-panel.freelance-rates {
    background: #92B558;
    color: #405024; }
  .project-panel.spend-trends {
    background: #00334d;
    color: #f2f2f2; }
  .project-panel.task-manager {
    background: #001a1a;
    color: #00a4a4; }
  .project-panel .construction-tag {
    position: absolute;
    left: 0;
    width: auto;
    height: 30px;
    background: #cccccc;
    border-radius: 0 25px 25px 0;
    color: #666666;
    font-size: 14px;
    text-align: center;
    line-height: 2.25;
    padding: 0 10px; }

.blog {
  background: #f2f2f2; }

.blog-message {
  padding: 10px 0; }

.filler-content {
  margin: 60px auto; }

@media (max-width: 780px) {
  .section-content {
    width: 80%; }

  ul.dev-skills {
    width: 80%; } }
@media (max-width: 479px) {
  .banner-image {
    background: url(../img/bannerImg-mobile-min.jpg) no-repeat center #006da3;
    width: 100%;
    height: 100%;
    background-size: cover; }

  ul.dev-skills {
    width: 100%; }

  .section-content {
    width: 90%; } }

/*# sourceMappingURL=lovettech.css.map */
