<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jack Lovett">    
    <title>Jack Lovett - Developer</title>    
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../Styles/img/favicon.ico?" >
    <!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Bootstrap CDN --> 
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> !not there - Do i need it? -->
    <!-- Test font - change if you don't like it -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <!--  Font Awesome Icons - from CDN -->
    <script src="https://use.fontawesome.com/c3813bfc72.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/css/lovettech.css">        
  </head>
  <body>
  	<div id="wrapper">	
		<div class="container simple-nav">
			<ul class="nav-list">
				<li>
					<a href="../index.html">Resume</a>
				</li>
				<li class="active">
					<a href="#">Portfolio</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>				
			</ul> 
		</div>
		<div id="content">
			<section class="page-height portfolio">
			<div class="container">
				<div class="filler-content">
					<h1 class="title">Portfolio &amp; Ongoing Projects</h1>
					<div class="portfolio-content">
						<ul>
							<li class="project-panel spend-trends">
								<h3 class="title">Spend Trends</h3>
								Personal finance application for budgeting and tracking spending
								with added functionality to help anaylse trends and save 
								more efficiently
								<div class="used-tech"> 
									<!-- Languages/Frameworks: -->
									<span class="tag tech-usage spend-trends">Python</span>
									<span class="tag tech-usage spend-trends">Django</span>
									<span class="tag tech-usage spend-trends">PostgreSQL</span>									
								</div>
								<div class="construction-tag">
									UNDER CONSTRUCTION <i class="fa fa-wrench"></i>
								</div>								
							</li>
							<li class="project-panel freelance-rates">
								<h3 class="title">Freelance Rates</h3>
								Calculator to determine what rates to charge as a
								freelance contractor. Taking into account tax, 
								Natioinal Insurance and student loan contributions	
								<div class="used-tech"> 
									<!-- Languages/Frameworks: -->
									<span class="tag tech-usage freelance-rates">Python</span>
									<span class="tag tech-usage freelance-rates">Bottle</span>									
								</div>
								<div class="construction-tag">
									UNDER CONSTRUCTION <i class="fa fa-wrench"></i>
								</div>							
							</li>
							<li class="project-panel task-manager">
								<h3 class="title">Task Manager</h3> 
								Project management tool for raising issues and tracking
								progress, with emphasis on following agile methodologies
								<div class="used-tech"> 
									<!-- Languages/Frameworks: -->
									<span class="tag tech-usage task-manager">C#</span>
									<span class="tag tech-usage task-manager">.Net</span>
									<span class="tag tech-usage task-manager">AngularJS</span>		
									<span class="tag tech-usage task-manager">SQL Server</span>							
								</div>
								<div class="construction-tag">
									UNDER CONSTRUCTION <i class="fa fa-wrench"></i>
								</div>								
							</li>
						</ul>
					</div>					
				<div>
			</div>
			</section>
		</div> 
	    <section class="container section-container footer">
			<h1><a name="contact"></a>Contact</h1>
			<div class="social-networks">
				<a class="icons" href="https://github.com/jacklovett">
					<i class="fa fa-github"></i> 
				</a>
				<a class="icons" href="https://www.linkedin.com/in/jack-lovett">
					<i class="fa fa-linkedin-square"></i>		
				</a>		
				<a class="icons" href="https://twitter.com/lovettech">
					<i class="fa fa-twitter"></i>		
				</a>														
			</div>
			<div>
				<ul class="contact-details">
						<li>
							<i class="fa fa-envelope icons contact"></i>jack.l.lovett@gmail.com
						</li>
						<li>
							<i class="fa fa-phone-square icons contact"></i>+44 (0) 7904 804 644
						</li>
						<li>
							<i class="fa fa-map-marker icons contact"></i>La Línea de la Concepción, Cádiz, España
						</li>
					</ul>
			</div>													
		</section>	
	</div>	
</body>
</html>
