<div id="content">
	<div class="banner"></div> 
	<section class="container section intro">
	  	<h1>Jack Lovett</h1> 
		<h3>Software Developer</h3> 
		<ul class="dev-skills">
			<li class="tag skills">C#</li>
			<li class="tag skills">SQL</li>
			<li class="tag skills">Python</li>
			<li class="tag skills">AngularJS</li>
			<li class="tag skills">JavaScript</li>
			<li class="tag skills">HTML5</li>
			<li class="tag skills">CSS3</li>
		</ul>			
	</section>
	<section>
		<div class="container section resume">
		</div>
	</section>
	<section>
		<div class="container section work">
			<h2 class="title">Career Experience</h2>
			<div class="section-content">
				<h3>
					<a href="https://career.jackpotjoygroup.com/">Jackpotjoy Group</a>
				</h3>
				<h4>Jan 2016 - Aug 2017</h4>
				<h4>Graduate Web Developer</h4>
				<p>
					<!-- Languages/Frameworks:  -->
					<span class="tag tech-usage">C#</span>
					<span class="tag tech-usage">SQL</span>
					<span class="tag tech-usage">.Net</span>
					<span class="tag tech-usage">AngularJS</span>
					<span class="tag tech-usage">JavaScript</span>	
				</p>
				<p>
					Full time position as part of a small development team responsible for Jackpotjoy Group's numerous web applications. 
					Jackpotjoy Group is a leading online gaming company specialising in bingo and instant games.											
				</p>	
				<h3>
					<a href="https://cascade.bi/">Cascade.bi</a>
				</h3>
				<h4>Sept 2015 - Dec 2015</h4>
				<h4>Junior Developer</h4>
				<p>
					<!-- Languages/Frameworks:  -->
					<span class="tag tech-usage">C#</span>
					<span class="tag tech-usage">SQL</span>
					<span class="tag tech-usage">.Net</span>
					<span class="tag tech-usage">JavaScript</span>
		  		</p>
				<p>
					Internship assisting with the expansion of Cascade.bi's cloud-based dashboard application.
					Cascade.bi help small and medium sized businesses better understand their performance by providing interactive,
					 web-based dashboards and data analysis. 																	
				</p>
				
			</div>
		</div>
	</section>
	<section>
		<div class="container section education">
			<h2 class="title">Education</h2>
			<div class="section-content">
				<h3>
					<a href="http://www.sussex.ac.uk/">University of Sussex</a>
				</h3>
				<h4>Sept 2014 - Sept 2015</h4>	
				<h4> 
					MSc Mathematics - Distinction
					<!-- <span class="tag">Distinction</span> -->
				</h4>
				<p>
				 	<span class="tag tech-usage">Java</span>
					<span class="tag tech-usage">MATLAB</span>
					<span class="tag tech-usage">LaTex</span>
					</p>	
				<p>
					<b>Dissertation:</b> Meshless Collocation of Zubov's Equation
					<br/>
					Research project utilising dynamical systems and numerical methods to find a suitable approximation to 'Zubov's equation'.						
				 </p>
				 <h3>
					<a href="http://www.port.ac.uk/">University of Portsmouth</a>
				</h3>
				 <h4>Sept 2011 - Aug 2014</h4>	
				<h4>
					BSc (Hons) Mathematics - 2:1
				<!-- <span class="tag">2:1</span> -->
				</h4>
				<p>
				 	<span class="tag tech-usage">MATLAB</span>
					<span class="tag tech-usage">Maple</span>
				</p>
				<p>
					<b>Dissertation:</b> Dynamical and Phase Space Analysis of Evolving Universe Models
					<br/>
					A project studying the dynamics and stability of evolving universe models containing Einstein’s cosmological constant.
				 </p>				
			</div>
		</div>
	</section>
</div> 