.retro-computer-container {
    max-width: 320px; /* Maximum size for larger screens */
    aspect-ratio: 1 / 1; /* Maintain a circular shape */
    background-color: var(--surface-color);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    margin: 32px 0;
}

@media (max-height: 640px) {
    .retro-computer-container {
        max-width: 272px; /* Smaller size for smaller screens */
        padding-top: 40px;
        margin: 16px 0;
    }
}

.typewriter p {
    color: var(--computer-color);
    font-family: monospace;
    font-size: var(--font-size-small);
    overflow: hidden;
    border-right: 0.15em solid var(--computer-color);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 5s steps(24, end) infinite,
        blink-caret 1s step-end infinite;
}

@media (max-height: 640px) {
    .typewriter p {
        font-size: var(--font-size-x-small);
    }
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: green;
    }
}

/* Skeleton Loader */
.skeleton-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.skeleton-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--background-color);
    animation: blink 1.5s infinite;
}

/* Blinking Animation */
@keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
