.App {
    background-color: var(--black);
    min-height: 100vh;
    height: 100%;
    font-size: calc(10px + 2vmin);
    color: var(--white);
}

.app-content {
    text-align: center;
    height: calc(100% - var(--header-height));
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

nav {
    display: flex;
    justify-content: center;
    height: var(--header-height);
}

@media (min-width: 789px) {
    nav {
        justify-content: flex-end;
    }
}

.nav-link {
    padding: 16px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    line-height: 15px;
    height: 100%;
}

.contact .social-networks {
    font-size: 36px;
    padding: 10px;
}

.contact a:hover,
.contact a:focus {
    color: #008fd6;
}

.contact .icons {
    padding: 5px 10px;
    color: #006da3;
}
.contact .icons.contacts {
    font-size: 18px;
}

.contact b {
    color: #006da3;
}

.projects-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    flex: 0;
}

.projects {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    gap: 16px;
    padding: 16px 0;
    overflow-y: auto;
}

.project-details {
    background-color: var(--surface-color);
    width: 300px;
    padding: 16px;
}
