/* Utility Class */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Base Styles */

.app {
    background-color: var(--black);
    height: 100%;
    font-size: calc(10px + 2vmin);
    color: var(--white);
}

.app-content {
    text-align: center;
    height: calc(100% - var(--header-height));
}

.highlight {
    /* font-size: 1.6rem; */
    color: var(--primary-color);
    margin-top: -16px;

    .divider {
        color: var(--white);
    }
}

.cta {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.cta a {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 2px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.cta a:hover {
    opacity: 0.5;
}

/* About Section */

.about-container {
    flex-direction: column;
    height: 100%;
}

.about-content {
    max-width: 320px;
}

@media (min-width: 430px) {
    .about-content {
        max-width: 430px;
    }
}

@media (min-width: 789px) {
    .about-content {
        max-width: 686px;
    }

    nav.center {
        justify-content: flex-end;
    }
}

/* Navigation */

nav {
    height: var(--header-height);
    background: var(--surface-color);
}

.nav-item {
    height: 100%;
    margin: 0 16px;
}

.nav-item.selected {
    border-bottom: solid 4px var(--primary-color);
}

/* Icons */

.icons {
    padding: 8px 16px;
    color: var(--primary-color);
}

.icons:hover i,
.icons:focus i {
    color: var(--white);
}

/* Contact Section */

.contact {
    height: 100%;
}

.contact .social-networks {
    font-size: 48px;
    padding: 0 16px;
}

.contact .icons.contacts {
    font-size: 28px;
}

.contact b {
    color: var(--white);
}

/* Projects Section */

.projects-view {
    background-color: var(--white);
    height: 100%;

    a {
        color: var(--primary-color);
        text-decoration: underline;
    }
}

.project-content {
    padding: 48px 32px;
    flex-direction: column;
}

.content {
    flex-direction: column;
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
}

.video-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 960px;
    max-height: 540px;
    overflow: hidden;
    margin: 0 auto;
    padding: 16px 0;
}

.video-container video {
    width: 100%;
    height: auto;
}

.soundid {
    color: var(--black);
}

.corsair,
.samaritans {
    color: var(--white);
    background: var(--black);
    flex-direction: column-reverse;
}

.onemore,
.tic-stat-toe {
    color: var(--black);
    flex-direction: row;
}

@media (min-width: 1048px) {
    .corsair {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .samaritans {
        flex-direction: row;
    }

    .content {
        padding: 32px;
    }
}

@media (max-width: 768px) {
    .onemore,
    .tic-stat-toe {
        flex-direction: column;
    }
}

.samaritans {
    background: var(--samaritans-background);
    color: var(--samaritans-color);

    h2 {
        color: var(--samaritans-color);
    }
}

.tic-stat-toe {
    background: var(--tic-stat-toe-background);
    color: var(--tic-stat-toe-color);

    h2 {
        color: var(--tic-stat-toe-color);
    }
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.project-description {
    font-size: 16px;
    line-height: 20px;
    max-width: 640px;
}

.project-logo {
    padding-bottom: 8px;
}

.repo {
    max-width: 340px;
    margin: auto;
    padding: 32px 16px;
    font-size: 16px;
    color: var(--black);
}
