html, body {
	height: 100%;
	width: 100%;
	background: $primary-theme;
	color: $primary-font; 
	font-size: 18px;	
	font-family: "Open Sans", "Helvetica", sans-serif;
}

a {
	text-decoration: none !important;
}

a:hover, a:focus {
	color: lighten($secondary-theme, 10%);
}

b {
	color: $secondary-theme;
}

#wrapper {
	min-height:100%; 	 			
}

ul {
	margin: 0 auto;
	padding: 10px 0;
	list-style: none; 
	
	&.dev-skills {
		text-align: center;	
		width: 49%;	
		padding-top: 40px;		 		
	}

	&.experiences {	
						  
		li {
			padding-left: 14px;
			text-indent: -14px;
			margin: 0 0 15px 0;
		}
		  
		li:before {
			content: ">";
			color: $secondary-theme;
		}
	}
}

.tag {
	background: $secondary-theme;
	color: $primary-theme;
	
	&.skills {
		display: inline-block;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		margin: 5px;
		line-height: 100px;		
	}
		
	&.tech-usage {
		margin: 0 0 10px 0px; 
		padding: 4px 6px; 
		border-radius: 5px;
		line-height: 40px;
	}

	&.freelance-rates {
		color: $freelance-rates-background;
		background: $freelance-rates-color;	
	}

	&.spend-trends {
		color: $spend-trends-background;
		background: $spend-trends-color;
	}
	
	&.task-manager {
		color: $task-manager-background;
		background: $task-manager-color;
	}
}

.used-tech {
	margin: 5px 0;	
}
