// @media (max-width:1200px) {
// 	ul.dev-skills {
// 		width: 60%;
// 	}
// }

@media (max-width:780px) {
	.section-content{
		width: 80%;
	} 
	
	ul.dev-skills {
	  	width: 80%;
	}

	/* Navigation  */	
	// .navbar-collapse {
	// 	float: none;
	// 	padding: 0;
	// }
	
	// .navbar-nav { 
	// 	margin: 0;
	// }
	
	// .navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:focus {
	// 	background: darken($primary-theme, 10%);
	// 	color: lighten($primary-font, 10%);
	// }
	
}

@media (max-width: 479px) {
	
	.banner-image {
		background: url(../img/bannerImg-mobile.jpg) no-repeat center $secondary-theme;
		width: 100%; 
		height: 100%;
		background-size: cover;	
	}

	ul.dev-skills { 
		width: 100%;
	}

	.section-content {
		width: 90%;
		}
			
}
