/** Variables **/

/** Theme colours **/
$primary-theme: #ffffff; 
$secondary-theme: #006da3;
$primary-font: darken($primary-theme, 45%);
$grey-theme: darken($primary-theme, 5%); 
$content-theme: darken($secondary-theme, 12%); 
$intro-color: darken($primary-theme, 5%);

// Portfolio colours

// Freelance Rates
$freelance-rates-background: #92B558;
$freelance-rates-color: darken($freelance-rates-background, 30%);

// Spend Trends
$spend-trends-background: #00334d;
$spend-trends-color: #f2f2f2;

// Task Manager
$task-manager-background: #001a1a;
$task-manager-color: lighten($task-manager-background, 27%);
